## CAPSTONE

# Week 2

### Task 1 create OrdersView 

In the first task, Little Lemon need you to create a virtual table called OrdersView that focuses on OrderID, Quantity and Cost columns within the Orders table for all orders with a quantity greater than 2. 
- Use a CREATE VIEW statement.

- Extract the order id, quantity and cost data from the Orders table.

- Filter data from the orders table based on orders with a quantity greater than 2.

In [1]:
!pip install mysql-connector-python
from decimal import Decimal
# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API change creds based on your environment
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

cursor.execute("USE LittleLemonDB")
print("The database LittleLemonDB is set for use.\n")

cursor.execute("DROP VIEW IF EXISTS OrdersView")

create_order_view = """CREATE VIEW OrdersView AS
SELECT o.orderid, o.quantity, o.totalcost FROM orders o
WHERE o.quantity > 2;
"""

cursor.execute(create_order_view)
print("OrdersView table is created.\n")

Requirement already satisfied: mysql-connector-python in d:\python\python39\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in d:\python\python39\lib\site-packages (from mysql-connector-python) (3.20.3)
Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database LittleLemonDB is set for use.

OrdersView table is created.

WARNING: You are using pip version 20.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'd:\python\python39\python.exe -m pip install --upgrade pip' command.

### Task 2 
For your second task, Little Lemon need information from four tables on all customers with orders that cost more than $150. Extract the required information from each of the following tables by using the relevant JOIN clause: 

- Customers table: The customer id and full name.

- Orders table: The order id and cost.

- Menus table: The menus name.

- MenusItems table: course name and starter name.

The result set should be sorted by the lowest cost amount.

In [2]:
the_query = """
SELECT c.CustomerId, 
		c.FullName,
        o.OrderId,
        o.TotalCost,
        m.MenuName,
        mi.CourseName,
        mi.StarterName
FROM customers c
INNER JOIN orders o
ON o.CustomerId = c.CustomerId
INNER JOIN menus m
ON o.MenuId = m.MenuId
INNER JOIN menuitems mi
ON m.MenuItemsId = mi.MenuItemsId
WHERE o.TotalCost > 150
ORDER BY o.TotalCost;
"""

cursor.execute(the_query)

results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('CustomerId', 'FullName', 'OrderId', 'TotalCost', 'MenuName', 'CourseName', 'StarterName')
(5, 'Tasia Fautly', 5, Decimal('155'), 'Greek salad', 'Greek salad', 'Olives')
(4, 'Merrill Baudon', 4, Decimal('200'), 'Pizza', 'Pizza', 'Minestrone')

### Task 3
For the third and final task, Little Lemon need you to find all menu items for which more than 2 orders have been placed. You can carry out this task by creating a subquery that lists the menu names from the menus table for any order quantity with more than 2.

Here’s some guidance around completing this task: 

- Use the ANY operator in a subquery

- The outer query should be used to select the menu name from the menus table.

- The inner query should check if any item quantity in the order table is more than 2.

In [3]:
the_query = """
SELECT m.MenuName 
from menus m
WHERE m.MenuId = ANY(SELECT o2.MenuId FROM orders o2 WHERE o2.Quantity > 2);
"""

cursor.execute(the_query)

results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('MenuName',)
('Pizza',)
('Greek salad',)

## Create optimized queries

### Task 1
In this first task, Little Lemon need you to create a procedure that displays the maximum ordered quantity in the Orders table. 

Creating this procedure will allow Little Lemon to reuse the logic implemented in the procedure easily without retyping the same code over again and again to check the maximum quantity. 

You can call the procedure GetMaxQuantity and invoke it as follows:
```CALL GetMaxQuantity(); ```

In [4]:
stored_proc = """
CREATE PROCEDURE GetMaxQuantity()
BEGIN
SELECT MAX(quantity) as "Max Quantity in Orders" FROM orders;
END

"""
cursor.execute("DROP PROCEDURE IF EXISTS GetMaxQuantity;")
cursor.execute(stored_proc)
print('GetMaxQuantity proc created')
# Retrieve recrods in "dataset"
# Call the stored procedure with its name
cursor.callproc("GetMaxQuantity")
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)

GetMaxQuantity proc created
['Max Quantity in Orders']
(6,)

### Task 2
In the second task, Little Lemon need you to help them to create a prepared statement called ```GetOrderDetail```. This prepared statement will help to reduce the parsing time of queries. It will also help to secure the database from SQL injections.

The prepared statement should accept one input argument, the CustomerID value, from a variable. 

The statement should return the order id, the quantity and the order cost from the Orders table. 

Once you create the prepared statement, you can create a variable called id and assign it value of 1. 

Then execute the GetOrderDetail prepared statement using the following syntax:
```
SET @id = 1;
EXECUTE GetOrderDetail USING @id;
```

In [5]:
cursor.execute("PREPARE GetOrderDetail FROM 'SELECT orderid, quantity, totalcost from orders where customerid = ?';")
cursor.execute("SET @id = 1;")
cursor.execute("EXECUTE GetOrderDetail USING @id;")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print([str(r) for r in result])

('orderid', 'quantity', 'totalcost')
['1', '2', '86']

### Task 3
Your third and final task is to create a stored procedure called ```CancelOrder```. Little Lemon want to use this stored procedure to delete an order record based on the user input of the order id.

Creating this procedure will allow Little Lemon to cancel any order by specifying the order id value in the procedure parameter without typing the entire SQL delete statement.

In [6]:
insert_test_data = """
INSERT INTO Orders (OrderID, OrderDate, CustomerId, MenuID,  Quantity, TotalCost)
VALUES
(7, '2023-01-01', 5, 1,  6, 155);
"""
cursor.execute(insert_test_data);
connection.commit();

stored_proc = """
CREATE PROCEDURE CancelOrder(IN order_id INT)
BEGIN
DECLARE is_exists TINYINT DEFAULT 0;
DECLARE result VARCHAR(255); 
SELECT EXISTS(SELECT 1 from orders WHERE OrderId = order_id) INTO is_exists;
IF  is_exists = 0 THEN
	SET result =  CONCAT('Order id ' , order_id , ' does not exist.');
ELSE
DELETE FROM orders WHERE OrderId = order_id;
COMMIT;
SET result = CONCAT( 'Order id ' , order_id , ' is cancelled');
END IF;
SELECT result AS confirmation;
END
"""
cursor.execute("DROP PROCEDURE IF EXISTS CancelOrder;")
cursor.execute(stored_proc)
print('CancelOrder proc created')
# Retrieve recrods in "dataset"
# Call the stored procedure with its name
cursor.callproc("CancelOrder", args=(7,))
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)

CancelOrder proc created
['confirmation']
('Order id 7 is cancelled',)

## Create SQL queries to add and update bookings

### Task 1
In this first task you need to create a new procedure called ```AddBooking``` to add a new table booking record.

The procedure should include four input parameters in the form of the following bookings parameters:

- booking id, 

- customer id, 

- booking date,

- and table number.

In [7]:

stored_proc = """
CREATE PROCEDURE AddBooking(IN booking_id INT, IN customer_id INT, IN booking_date DATE, IN table_number INT)
BEGIN
DECLARE is_exists TINYINT DEFAULT 0;
DECLARE result VARCHAR(255); 
SELECT EXISTS(SELECT 1 from Bookings WHERE BookingId = booking_id) INTO is_exists;
IF  is_exists = 1 THEN
	SET result =  CONCAT('Booking id ' , booking_id , ' already exists.');
ELSE
INSERT INTO Bookings (BookingId, CustomerId, BookingDate, TableNumber)
VALUES
(booking_id, customer_id, booking_date, table_number);
COMMIT;
SET result = 'New Booking Added';
END IF;
SELECT result AS confirmation;

END
"""
cursor.execute("DROP PROCEDURE IF EXISTS AddBooking;")
cursor.execute(stored_proc)
print('AddBooking proc created')
# Retrieve recrods in "dataset"
# Call the stored procedure with its name
cursor.callproc("AddBooking", args=(1, 1, '2023-05-01', 10))
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)

AddBooking proc created
['confirmation']
('New Booking Added',)

### Task 2
For your second task, Little Lemon need you to create a new procedure called ```UpdateBooking``` that they can use to update existing bookings in the booking table.

The procedure should have two input parameters in the form of booking id and booking date. You must also include an ```UPDATE``` statement inside the procedure.

In [8]:

stored_proc = """
CREATE PROCEDURE UpdateBooking(IN booking_id INT, IN booking_date DATE)
BEGIN
DECLARE is_exists TINYINT DEFAULT 0;
DECLARE result VARCHAR(255); 
SELECT EXISTS(SELECT 1 from Bookings WHERE BookingId = booking_id) INTO is_exists;
IF  is_exists = 0 THEN
	SET result =  CONCAT('Booking id ' , booking_id , ' does not exist.');
ELSE
UPDATE Bookings SET BookingDate = booking_date WHERE BookingId = booking_id;
COMMIT;
SET result = CONCAT('Booking ' , booking_id , ' updated.');
END IF;
SELECT result AS confirmation;

END
"""
cursor.execute("DROP PROCEDURE IF EXISTS UpdateBooking;")
cursor.execute(stored_proc)
print('UpdateBooking proc created')
# Retrieve recrods in "dataset"
# Call the stored procedure with its name
cursor.callproc("UpdateBooking", args=(1,  '2023-05-02'))
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)

UpdateBooking proc created
['confirmation']
('Booking 1 updated.',)

### Task 3
For the third and final task, Little Lemon need you to create a new procedure called ```CancelBooking``` that they can use to cancel or remove a booking.

The procedure should have one input parameter in the form of booking id. You must also write a ```DELETE``` statement inside the procedure.

In [9]:
stored_proc = """
CREATE PROCEDURE CancelBooking(IN booking_id INT)
BEGIN
DECLARE is_exists TINYINT DEFAULT 0;
DECLARE result VARCHAR(255); 
SELECT EXISTS(SELECT 1 from Bookings WHERE BookingId = booking_id) INTO is_exists;
IF  is_exists = 0 THEN
	SET result =  CONCAT('Booking id ' , booking_id , ' does not exist.');
ELSE
DELETE FROM Bookings WHERE BookingId = booking_id;
COMMIT;
SET result = CONCAT( 'Booking id ' , booking_id , ' is cancelled');
END IF;
SELECT result AS confirmation;
END
"""
cursor.execute("DROP PROCEDURE IF EXISTS CancelBooking;")
cursor.execute(stored_proc)
print('CancelBooking proc created')

#add record for testing
cursor.callproc("AddBooking", args=(2, 1, '2023-05-01', 10))
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)
# Retrieve recrods in "dataset"
# Call the stored procedure with its name
cursor.callproc("CancelBooking", args=(2,))
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

# Print data 
for data in dataset:
    print(data)

CancelBooking proc created
['confirmation']
('New Booking Added',)
['confirmation']
('Booking id 2 is cancelled',)

# Week 4

### Task 1 - just connecting to db skipping since same as the connection in week 2 see first cell under week 2

### Task 2
Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [10]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

### Task 3 Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:


Step One: Identify which tables are required. To complete the query, you first need to identify which table has the required data. 

The bill paid can be found in Orders as TotalCost and the customer contact information can be found in the Customers table. 

When selecting attributes from a specific table, specify the table name, followed by a dot and the target attribute as below (Hint: select the column attributes that you will need). 


Step Two: Next, specify a table (Hint: The FROM keyword allows you to identify a table.)

To join two tables, specify the type of JOIN and the attribute to join the table on. The tables must be joined on an attribute that is common to both tables (such as a common column).


Step Three: Finally, include a clause to filter the data on. (Hint: the WHERE clause can be used to add conditional parameters.) 

When you have completed these steps, wrap this query as a string and pass it to the .execute() method of the cursor class. When executed, your SELECT query must extract the full name, contact details and bill amount for every customer who spent more than $60.

In [11]:
the_query = """
SELECT c.CustomerId, 
		c.FullName,
        c.Email,
        c.ContactNumber,
        o.TotalCost
FROM customers c
INNER JOIN orders o
ON o.CustomerId = c.CustomerId
WHERE o.TotalCost > 60
ORDER BY o.TotalCost;
"""

cursor.execute(the_query)

results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print([str(r) for r in result])

('CustomerId', 'FullName', 'Email', 'ContactNumber', 'TotalCost')
['1', 'Laney Fadden', 'laney.fadden@customer.com', '54-366-6861', '86']
['5', 'Tasia Fautly', 'tasia.fautly@customer.com', '86-114-9232', '155']
['4', 'Merrill Baudon', 'merrill.baudon@customer.com', '36-917-2834', '200']

In [12]:
connection.close()
cursor.close()

True